.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
  background-color: white;
  color: #1D1D1D;
  font-size: 14px;
  padding: 30px 50px;
}


h3{
  font-size: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.card_image{
  width: 240px;
  height: 250px;
  overflow: hidden;
}

img{
  height: 100%;
}

.card_info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbar{
  background-color: white;
  color: #1D1D1D;
  padding: 0px 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.button{
  background-color: #1D1D1D;
  border-radius: 0px;
  color: white;
  padding: 0px 30px;
}

mat-slider{
  width: 200px;
}

.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card{
  width: 250px;
}

