.container{
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 14px;
  padding: 50px 0px;
}

.card_image{
  width: 500px;
}

img{
  width: 100%;
}

.card_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  margin-left: 50px;
  padding: 50px 0 10px 0;
}

.card{
  display: flex;
  max-width: 1000px;
  max-height: 450px;
}

.basket{
  padding: 10px 10px;
  background-color: #1D1D1D;
  color: white;
  max-width: 250px;
}

.basket:hover{
  background-color: white;
  color: #1D1D1D;
  border: #1D1D1D solid 1.5px;
  cursor: pointer;
}

.back{
  background-color: white;
  color: #1D1D1D;
  border: #1D1D1D solid 1.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 80px;
  margin-bottom: 20px;
  padding: 5px 10px;
  align-self: flex-start;
}

