<div class="container">
  <div class="card">
    <div class="card_image">
      <button class="back" routerLink="/products" >
        <mat-icon style="font-size: 14px; margin-bottom: -10px" >arrow_back_ios</mat-icon>
        <span>НАЗАД</span>
      </button>
      <img src="{{product.image}}">
    </div>
    <div class="card_info">
      <div style="gap: 20px">
        <div style="font-size: 22px">{{product.title}}</div>
        <div>БРЕНД: {{product.info.subtitle}}</div>
        <div>{{product.info.price | currency}}</div>
      </div>
      <div>
       {{product.info.duration}}
      </div>
      <button class="basket" (click)="addToBasket(product)">В КОРЗИНУ</button>
    </div>
  </div>
</div>
