<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>НАЗВАНИЕ</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>ИЗОБРАЖЕНИЕ</mat-label>
    <input formControlName="image" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>БРЕНД</mat-label>
    <input formControlName="subtitle" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>ЦЕНА</mat-label>
    <input formControlName="price" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>ОПИСАНИЕ</mat-label>
    <input formControlName="duration" matInput>
  </mat-form-field>
  <button mat-button type="submit">{{isNew ? 'ДОБАВИТЬ' : 'ОБНОВИТЬ'}}</button><button mat-button (click)="onNoClick()" type="button">ОТМЕНА</button>
</form>
