<mat-toolbar class="toolbar no-select">
  <span class="logo no-select" routerLink="">ONLINE SHOP</span>
  <span class="example-spacer"></span>
  <div>
    <button class="toolbar button" mat-flat-button routerLink="">ГЛАВНАЯ</button>
    <button class="toolbar button" mat-flat-button routerLink="products">КАТАЛОГ</button>
    <button class="toolbar button" mat-flat-button routerLink="comments">ОТЗЫВЫ</button>
    <button class="toolbar button" mat-flat-button routerLink="basket">КОРЗИНА</button>
  </div>
</mat-toolbar>
