.example-spacer {
  flex: 1 1 auto;
}

.no-select{
  user-select: none;
  font-size: 22px;
}

.button{
  margin-left: 5px;
  background-color: white;
  color: #1D1D1D;
  font-size: 16px;
}

.button:hover{
  font-size: 17px;
}

.button:first-child{
  margin-left: 0px;
}

.logo{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.mat-icon{
  margin-left: 2px;
}

mat-toolbar{
  background-color: white;
  color: #1D1D1D;
  border-bottom: 1.5px solid #1D1D1D;
  padding: 0px 50px;
}
