<mat-toolbar class="toolbar no-select">
  <span class="logo no-select" routerLink="">BOOKSTORE<mat-icon fontIcon="book"></mat-icon></span>
  <span class="example-spacer"></span>
  <div>
    <button class="toolbar button" mat-flat-button color="primary" routerLink="">Главная</button>
    <button class="toolbar button" mat-flat-button color="primary" routerLink="products">Товары</button>
    <button class="toolbar button" mat-flat-button color="primary" routerLink="basket">Корзина</button>
  </div>
</mat-toolbar>
