<div class="container">
  <section class="section1">
    <div class="info">
      <h1 style="font-size: 73px; font-weight: bolder; margin-top: 150px">ONLINE SHOP</h1>
      <button class="button" routerLink="products" style="margin-top: 20px; margin-bottom: 100px">SHOP NOW</button>
      <p style="max-width: 350px">
        {{text1}}
      </p>
    </div>
    <div class="image">
      <img src="assets/image%204.png">
    </div>
  </section>
  <section class="section2">
<!--    <div class="infinite-line"></div>-->
    <div class="newImg">
      <img src="assets/image%206.png">
      <button class="back" routerLink="/products">
        <span>ПЕРЕЙТИ В КАТАЛОГ</span>
        <mat-icon style="font-size: 14px; margin-bottom: -10px" >arrow_forward_ios</mat-icon>
      </button>
    </div>
<!--    <div class="infinite-line"></div>-->
  </section>
  <section class="section3">
    <div class="image1">
      <img src="assets/Group%2018.png">
    </div>
    <div class="info1">
      <h2 style="font-size: 50px; font-weight: bolder">ABOUT US</h2>
      <p>
          {{text2}}
      </p>

    </div>

  </section>
</div>
