<div class="container">
  <section>
    <h3>ОТЗЫВЫ</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. ghghg ghghghgh ghghghghg ghghghgh
    </p>
    <p>
      ЧТОБЫ ПРОСТО ПОДЕЛИТЬСЯ ВПЕЧАТЛЕНИЯМИ О НАШЕЙ РАБОТЕ, НАЖМИТЕ НА КНОПКУ НИЖЕ.
    </p>
    <button (click)="show()">
      ОСТАВИТЬ ОТЗЫВ
    </button>
    <form [formGroup]="newComment" *ngIf="visibility" id="add" class="comments" style="gap: 10px; max-width: 600px">
        <input formControlName="name" class="comment" type="text" placeholder="ВВЕДИТЕ ИМЯ">
        <input formControlName="text" style="height: 100px;" class="comment" type="text" placeholder="КОММЕНТАРИЙ">
        <button style="margin-left: auto" type="submit"  (click)="addComment()">
          ОТПРАВИТЬ
        </button>
    </form>
    <div class="comments">
      <div class="comment" *ngFor="let comment of comments">
        <h4>
          {{comment.name}}
        </h4>
        <p>
          {{comment.date}}
        </p>
        <p>
         {{comment.text}}
        </p>
      </div>
    </div>
  </section>
</div>
