<div class="footer">
  <div>
    <h4>ONLINE SHOP</h4>
    <div>
      <br>
      г. Минск ул. Куйбышева д.34 офис 17
      <br>
      пн-сб 9:00-18:00
    </div>
  </div>
  <div class="contacts">
    <h4>КОНТАКТЫ</h4>
    <div style="margin-left: auto">
      тел. (8029) 567 34 37
      <br>
      email: shop@gmail.com
    </div>
    <div class="links">
      <span class="link">
       <i class="fa fa-instagram" aria-hidden="true"></i> <span>@online.shop</span>
      </span>
      <span class="link">
       <i class="fa fa-telegram" aria-hidden="true"></i> <span>@ONLINE_SHOP</span>
      </span>
    </div>
  </div>
</div>
